.about-us {
  margin-bottom: 20px;
  background: #fff;
  padding: 40px;
  color: #464646;
  &__img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 4px;
    img {
      width: 100%;
    }
  }
  h1.entry-title {
    margin: 0 0 40px 0;
    font-size: 24px;
    line-height: 1;
    color: #4DA5E2;
  }
  b,
  strong {
    font-weight: 600;
  }
  p {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 24px;
  }
  table {
    width: 100%;
    border: none;
    font-size: 17px;
    td {
      padding: 10px;
    }
    a {
      display: block;
      color: #464646;
      line-height: 1.4;
      &:hover {
        color: #4DA5E2;
      }
    }
  }
}
