@import "variables.scss";

.event {
  width: 100%;
  flex-grow: 0;
  padding: 16px 20px 30px;
  flex-shrink: 0;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: #fff;
  &-list {
    display: flex;
    flex-wrap: wrap;
  }
  &__buttons {
    text-align: right;
    margin-bottom: 40px;
  }
  &__icon {
    width: 50px;
    height: 50px;
    margin: auto;
    text-align: center;
    margin-bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  &__name {
    font-weight: 600;
    text-align: center;
    font-size: 18px;
  }
  &__line {
    display: block;
    position: relative;
    padding-bottom: 15px;
    padding-top: 15px;
    &:after {
      content: '';
      width: calc(100% + 40px);
      height: 1px;
      left: -20px;
      bottom: 0;
      background-color: rgba(#383838, 0.06);
      position: absolute;
    }
  }
  &__info {
    font-size: 14px;
    color: #747474;
    &_base {
      line-height: 20px;
      span {
        color: #3694db;
      }
    }
    &_site {
      a {
        color: initial;
        text-decoration: none;
      }
    }
  }
  &__description {
    font-size: 16px;
    line-height: 20px;
    color: #747474;
  }
  &__ico {
    font-size: 12px;
    line-height: 20px;
    color: #747474;
    span {
      font-weight: 600;
      color: #3694db;
    }
  }
  &__down {
    padding-top: 15px;
    &__timer {
      display: inline-block;
      &_btn {
        width: 55px;
        height: 30px;
        padding: 0 5px;
        color: #fff;
        font-size: 10px;
        line-height: 30px;
        border-radius: 4px;
        vertical-align: top;
        display: inline-block;
        background-color: #439BD7;
        b {
          font-weight: 600;
          font-size: 16px;
          vertical-align: top;
        }
      }
    }
    &__more {
      color: #fff;
      height: 30px;
      float: right;
      font-size: 12px;
      padding: 0 30px 0 15px;
      line-height: 32px;
      border-radius: 4px;
      text-transform: uppercase;
      background-color: #807E7E;
      display: inline-block;
      position: relative;
      &:before {
        content: '';
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
      }
    }
  }
  @media screen and (min-width: 768px) {
    .event-list_2 & {
      width: 49%;
    }
    .event-list_3 & {
      width: 49%;
    }
    &-list {
      justify-content: space-between;
      align-items: stretch;
    }
    &__ico {
      font-size: 14px;
    }
  }
  @media screen and (min-width: 1200px) {
    .event-list_3 & {
      width: 32%;
    }
  }
}

.column{
  width: 100%;
  h3{
    font-size: 16px;
    font-weight: 700;
    color: #4DA5E2;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 15px;
  }
  h4{
    font-size: 13px;
    color: #4DA5E2;
    text-transform: uppercase;
    margin: 10px 0;
  }
  &__event-title{
    font-size: 16px;
    &_img{
      margin: auto;
      width: 40px;
      height: 50px;
      img{
        width: 100%;
        height: auto;
      }
    }
    h1{
      font-size: 16px;
      text-align: center;
    }
  }
  &__visit{
    color: #fff;
    font-size: 12px;
    display: block;
    text-transform: uppercase;
    background-color: #54AAE5;
    text-align: center;
    padding: 10px 0;
    border-radius: 4px;
  }
  &__overview{
    display: block;
    margin-bottom: 25px;
    &__info{
      span{
        display: block;
        line-height: 20px;
        font-size: 14px;
        margin-bottom: 5px;
      }
    }
  }
  &__time{
    display: block;
    font-size: 12px;
    color: #9A9A9A;
  }
  &__links{
    margin-bottom: 25px;
    &_link{
      width: 48%;
      display: inline-block;
      vertical-align: top;
      &_social{
        display: block;
        font-size: 12px;
        line-height: 12px;
        color: #3694DB;
      }
    }
  }
  &__news{
    font-size: 14px;
    margin-bottom: 25px;
    ul{
      list-style: none;
      li{
        line-height: 20px;
        position: relative;
        &:before{
          top: 8px;
          content:  "";
          width: 9px;
          height: 4px;
          left: -20px;
          color: #58A2D5;
          background-size: 9px 4px;
          background-color: #58A2D5; 
          position: absolute;
        }
      }
    }
  }
  &__video{
    margin-bottom: 25px;
    video{
      width: 280px;
      height: auto;
    }
  }
  &__tweets{
    margin-bottom: 25px;
    ul{
      list-style: none;
      li{
        line-height: 20px;
        position: relative;
        &:before{
          top: 8px;
          content:  "";
          width: 9px;
          height: 4px;
          left: -20px;
          color: #58A2D5;
          background-size: 9px 4px;
          background-color: #58A2D5; 
          position: absolute;
        }
        a{
          text-decoration: none;
          color: #58A2D5;
        }
      }
    }
  }
  .social{
    text-align: left;
    padding: 0;
     &__item{
      background-color: transparent;
      &_twiter {
        background-color: #00CCFF;
      }
      &_telegram {
        background-color: #2CA7E2;
      }
      &_facebook {
        background-color: #2E5A9B;
      }
      &_vk {
        background-color: #5F83A9;
      }
      &_medium {
        background-color: #03a87c;
      }
      &_google-plus {
          background-color: #3E3C3D;
      }
      &_pinterest {
        background-color: #DF0300;
      }
     }
  }
  &__navigation{
    .button{
      font-size: 11px;
      
      width: 118px;
      height: 32px;
      display: inline-block;
      vertical-align: top;
      &__prev{
        color: #D6D6D6;
        background-color: #F6F6F6
      }
      &__next{
        color: #fff;
        background-color: #54AAE5
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .column {
    width: 48%;
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    padding: 30px;
    &__visit{
      font-size: 14px;
      margin: auto;
      position: relative;
      margin-bottom: 30px;
      &:before{
        content: "";
        width: 112%;
        height: 1px;
        left: -6%;
        right: 5%;
        bottom: -15px;
        background-size: 110% 1px;
        background-color: #F6F6F6;
        position: absolute;
      }
    }
    &__event-title{
      &_img{
        display: inline-block;
      }
      h1{
        margin: 0;
        font-size: 22px;
        padding-left: 40px;
        line-height: 35px;
        vertical-align: top;
        display: inline-block;
      }
    }
    &__news{
      font-size: 16px;
    }
    &__links{
      position: relative;
      &:before{
        content: "";
        width: 112%;
        height: 1px;
        left: -6%;
        right: 5%;
        bottom: -15px;
        background-size: 110% 1px;
        background-color: #F6F6F6;
        position: absolute;
      }
      &_link{
        width: 32%;
        display: inline-block;
        vertical-align: top;
        &_social{
          display: block;
          font-size: 15px;
          line-height: 18px;
          color: #3694DB;
        }
      }
    }
    &__video{
      video{
        width: 463px;
        height: auto;
      }
    }
    &__tweets{
      ul{
        li{
          font-size: 16px;
        }
      }
    }
     &__navigation{
      .button{
        width: auto;
        font-size: 15px;
        padding: 5px 40px;
      }
    }
  }
}
