@import "_normalize.scss";
@import "_fonts.scss";
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: #474747;
  min-width: 32px;
  font-size: 14px;
  line-height: 1.1242;
  background-color: #FAFAFA;
  font-family: 'Proxima Nova', sans-serif;
}

a {
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
  justify-content: space-between;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: 576px) {
    width: 540px;
  }
  @media screen and (min-width: 768px) {
    width: 720px;
  }
  @media screen and (min-width: 992px) {
    width: 960px;
  }
  @media screen and (min-width: 1200px) {
    width: 1140px;
  }
}

.clearfix,
.container {
  zoom: 1;
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.visually-hidden {
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.hidden {
  display: none
}

.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

.text {
  &-left {
    text-align: left
  }
  &-center {
    text-align: center
  }
  &-right {
    text-align: right
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.site-content{
  background-color: #ffffff;
}
@media screen and (min-width: 768px){
  .site-content{
    background-color: #FAFAFA;
  }
}
