@import "variables.scss";
.header {
  background: #4198D4;
  padding: 23px 0;
  margin-bottom: 20px;
  &__logo {
    width: 104px;
    overflow: hidden;
    display: inline-block;
    img {
      width: 100%;
    }
  }
  &__mobile-menu {
    z-index: 1;
    background: #4198D4;
    width: 100%;
    position: absolute;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
  }
  &__hamburger {
    width: 22px;
    height: 34px;
    background: url("../images/svg/hamburger.svg") center no-repeat;
    background-size: 22px 15px;
    &:hover {
      cursor: pointer;
    }
    &_close {
      background: url("../images/svg/close.svg") center no-repeat;
    }
  }
  &__buttons {
    display: none;
  }
  &__menu {
    display: none;
    flex-direction: column;
  }
  &__language {
    display: flex;
    flex-direction: row;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        position: relative;
        a {
          margin: 0 5px;
          &:hover {
            color: white;
          }
        }
        &:first-child:after {
          content: "|";
          position: absolute;
        }
      }
    }
  }
  &__mobile-language {
    display: flex;
    flex-direction: row;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    padding: 20px 40px;
    border-top: 1px solid white;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        position: relative;
        a {
          margin: 0 5px;
          &:hover {
            color: white;
          }
        }
        &:first-child:after {
          content: "|";
          position: absolute;
        }
      }
    }
  }
  &__nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    li {
      &:last-child {
        margin-right: 0;
        a {
          border-bottom: 1px solid white;
        }
      }
    }
    a {
      display: block;
      text-transform: uppercase;
      color: white;
      font-size: 13px;
      font-weight: 400;
      border-top: 1px solid white;
      padding: 10px 40px;
      &:hover {
        color: white;
      }
    }
  }
  &__mobile-buttons {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
  }
  &__button {
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid white;
    &:hover {
      color: white;
    }
    &_event {
      margin-top: 10px;
      color: #4BC3EF;
      background-color: white;
      &:hover {
        color: #4BC3EF;
      }
    }
  }
  @media screen and (min-width: 768px) {
    padding-top: 40px;
    min-height: 154px;
    max-height: 154px;
    background: linear-gradient(135deg, #308CD0, #4BC3EF), url("../images/header_bg2.png") center repeat-x;
    background-blend-mode: overlay;
    background-size: 100%, 175px;
    padding: 0;
    padding-top: 40px;
    &__logo {
      width: 117px;
    }
    &__mobile-menu {
      display: none;
    }
    &__hamburger {
      display: none;
    }
    &__mobile-buttons {
      display: none;
    }
    &__buttons {
      display: block;
      margin-top: 0;
      padding: 8px 0 0 0;
      &_event {
        margin-top: 0px;
      }
    }
    &__button {
      font-size: 10px;
      padding: 6px 17px;
      border: 1px solid white;
    }
    &__nav {
      font-size: 10px;
      padding-top: 13px;
      flex-direction: row;
      li {
        margin-right: 17px;
        &:last-child {
          a {
            border: none;
          }
        }
        a {
          border: none;
          padding: 0;
        }
      }
    }
    &__language {
      padding-top: 13px;
      font-size: 10px;
    }
    &__menu {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  @media screen and (min-width: 992px) {
    &__menu {
      margin-top: 5px;
    }
  }
  @media screen and (min-width: 1200px) {
    min-height: 175px;
    &__logo {
      width: 175px;
    }
    &__buttons {
      padding: 20px 0 0 0;
    }
    &__menu {
      margin-top: 20px;
    }
    &__button {
      font-size: 14px;
    }
    &__nav {
      padding-top: 8px;
      font-size: 16px;
    }
    &__language {
      padding-top: 8px;
      font-size: 16px;
    }
  }
}

.mobile-menu-open {
  max-height: 380px;
}

.header__mobile-buttons .header__button:first-child {
  margin-bottom: 20px;
}

.header__button:hover {
  background: #fff;
  color: #49bded;
}
