@import "variables.scss";

.header {
  background: #4198D4;
  margin-bottom: 20px;
  padding: 23px 0;
  &__logo {
    width: 104px;
    overflow: hidden;
    display: inline-block;
    img {
      width: 100%;
    }
  }
  &__hamburger {
    width: 15px;
    height: 34px;
    background: url("../images/svg/hamburger.svg") center no-repeat;
    background-size: 22px 15px;
    &:hover {
      cursor: pointer;
    }
  }
  &__buttons {
    display: none;
  }
  &__menu {
    display: none;
  }
  &__language {
    display: flex;
    flex-direction: row;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    a {
      margin: 0 5px;
      &:hover {
        color: white;
      }
    }
  }
  &__nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    li {
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      display: block;
      text-transform: uppercase;
      color: white;
      &:hover {
        color: white;
      }
    }
  }
  &__button {
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 5px;
    border: 1px solid white;
    &:hover {
      color: white;
    }
    &_event {
      color: #4BC3EF;
      background-color: white;
      &:hover {
        color: #4BC3EF;
      }
    }
  }
  @media screen and (min-width: 768px) {
    padding-top: 40px;
    min-height: 154px;
    max-height: 154px;
    background: linear-gradient(135deg, #308CD0, #4BC3EF), url("../images/header_bg.png") center repeat-x;
    background-blend-mode: overlay;
    background-size: 150%;
    &__logo {
      width: 117px;
    }
    &__hamburger {
      display: none;
    }
    &__buttons {
      display: block;
      margin-top: 0;
      padding: 8px 0 0 0;
    }
    &__button {
      font-size: 10px;
      padding: 6px 17px;
      border: 1px solid white;
    }
    &__nav {
      font-size: 10px;
      padding-top: 13px;
      li {
        margin-right: 17px;
      }
    }
    &__language {
      padding-top: 13px;
      font-size: 10px;
    }
    &__menu {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  @media screen and (min-width: 1200px) {
    &__logo {
      width: 175px;
    }
    &__buttons {
      padding: 20px 0 0 0;
    }
    &__button {
      font-size: 14px;
    }
    &__nav {
      padding-top: 8px;
      font-size: 16px;
    }
    &__language {
      padding-top: 8px;
      font-size: 16px;
    }
  }
}
